:root {
  --dark-text: hsl(240, 38%, 20%);
  --light-text: hsl(240, 18%, 77%);
  --light-blue: hsl(244, 68%, 55%);
  --bg-footer: hsl(240, 57%, 97%);

  --section-block--padding: clamp(2rem, calc(2rem + ((1vw - 0.32rem) * 2.8681)), 5rem);
  --section-inline-padding: clamp(2rem, calc(2rem + ((1vw - 0.32rem) * 5.7361)), 8rem);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 1px solid red;
}
html {
  font-size: 62.5%;
}
body {
  max-width: 1440px;
  margin: auto;
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
}
picture,
figure,
img {
  display: block;
}
section {
  padding: var(--section-block--padding) var(--section-inline-padding) 10rem;
  background-image: url('../images/pattern-curve.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
}
.slider {
  display: grid;
  place-content: center;
}
.slider__image {
  padding: 3rem 0 5rem;
  background-image: url('../images/pattern-bg.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.slider__image img {
  width: 80%;
  margin: auto;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.slider__buttons {
  margin: auto;
  border-radius: 24px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  transform: translate(0%, -190%);
}
.btn {
  width: 45px;
  height: 40px;
  border: none;
  background-color: white;
}
.btn__previous {
  margin-right: -7px;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}
.btn__next {
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

.slider__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -2rem;
  padding-top: 5rem;
  padding-bottom: 2rem;
  background-image: url('/images/pattern-quotes.svg');
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: top center;
  text-align: center;
}

.student__testimonial {
  width: 29ch;
  margin-bottom: 2rem;
  font-size: clamp(1.6rem, calc(1.6rem + ((1vw - 0.32rem) * 0.7648)), 2.4rem);
  font-weight: 300;
  color: var(--dark-text);
  line-height: 1.4;
}
.student__name {
  margin-bottom: .5rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--dark-text);
}
.student__title {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--light-text);
}

/**********************************
  FOOTER
/**********************************/
.footer {
  margin-top: auto;
  padding: 3rem 0;
  text-align: center;
  color: var(--dark-text);
  background-color: var(--bg-footer);
}
.footer__attribution a {
  text-decoration: none;
  color: var(--dark-text);
  transition: color .1s ease;
}
.footer__attribution a:hover,
.footer__attribution a:focus-visible {
  color: var(--light-blue);
}

/**********************************
  MEDIA QUERIES 768px
/**********************************/
@media screen and (min-width: 768px) {
  .slider {
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr 50px;
    place-items: end;
  }
  .slider__image {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  
  .slider__buttons {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    transform: translate(-100%, -280%);
  } 
  .slider__content {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 0;
    background-position: 8vh -1vw;
    background-color: transparent;
    text-align: left;
    align-self: center;
    justify-self: flex-start;
  }
  .wrapper {
    align-self: flex-start;
    display: flex;
    align-items: center;
  }
  .student__testimonial {
    width: 32ch;
    padding-top: 5rem;
  }
  .student__name {
    margin-right: 1rem;
    margin-bottom: 0;
  }
  .student__name,
  .student__title {
    display: inline;
  }
}
@media screen and (min-width: 1200px) {
  .slider {
    grid-template-columns: 50% 50%;
    place-items: center;
  }
  .slider__image {
    background-size: 120%;
    background-position: right center;
    height: 650px;
  }
  .slider__image img {
    margin-top: 5rem;
    width: 90%;
    transform: translateX(-10%);
  }
  .slider__content {
    transform: translateX(15%);
  }
  .student__testimonial {
    width: 34ch;
    font-size: clamp(2.4rem, calc(2.4rem + ((1vw - 0.32rem) * 0.5736)), 3rem);
  }  
}  